<ul>
        {{#each allProducts}}
            <li><p><strong>{{this.title}}</strong></p>
                <p>Price: {{this.price}}</p>
                <p>PLink: {{this.thumbnail}}</p>
            </li>
        {{/each}}
</ul>
